@import url("https://fonts.googleapis.com/css2?family=Francois+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$grey: rgb(54, 54, 54);
$whitelight: rgb(247, 242, 242);

body {
  font-family: 'Francois One', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  text-align: justify;
  text-transform: none;
  line-height: 1.6;
  background-color: $grey;
}

h1 {
  text-align: center;
  color: $whitelight;
  margin-top: 25px;
  margin-bottom: 35px;
}

h2 {
  color: $whitelight;
  text-align: center;
}

p {
  color: $whitelight;
  font-size: 17px;
}