.navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 black;
    min-height: 75px;
    z-index: 100;
    width: 100%;
    position: fixed;
    top: 0;
}

.nav-link {
    color: black;

}

.nav-link:hover {
    color: rgb(39, 2, 2);
}

.navbar .nav-item:not(:last-child) {
    margin-right: 35px;
}

.dropdown-toggle::after {
    transition: transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
}